<a href="https://colab.research.google.com/github/Sethuram52001/EDP_College_Admission_Predictor/blob/main/EDP_College_Admission_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# college prediction

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

In [ ]:
# reading data file
df = pd.read_csv('/content/dataset - college admission prediction.csv')
df.head(10)

,Year,10th Marks,12th Marks,12th Division,AIEEE Rank,College
0,2015,95,92,2,100,IIT delhi
1,2015,75,88,3,1023,VIT vellore
2,2015,83,84,6,2935,Ahemedabad IT
3,2015,75,91,8,5647,University college of ENGG
4,2015,94,94,9,3564,SRMIST chennai
5,2015,95,94,1,2185,Manipal IT
6,2015,89,89,1,785,IIT hydrabad
7,2015,81,89,1,2231,VIT vellore
8,2015,84,85,4,3561,Ahemedabad IT
9,2015,92,85,6,4235,IIT jodhpur

In [ ]:
college_list = np.unique(df['College'])
college = np.unique(df['College'])
# college_code_list = []
# for i in range(len(college_list)):
#   college_code_list.append(i + 1)
college_map = {i+1:x for i, x in enumerate(college)}

with open('college.pkl', 'wb') as file:
  pickle.dump(college_map, file)

print(college_list)

['Ahemedabad IT' 'BIT Mesra' 'BITS pilani' 'BMS college of ENGG'
 'DTU delhi' 'HBUT kanpur' 'IIEST shibpur' 'IIIT hydrabad' 'IIT Bombay'
 'IIT bhilai' 'IIT delhi' 'IIT goa' 'IIT guwahati' 'IIT hydrabad'
 'IIT indore' 'IIT jammu' 'IIT jodhpur' 'IIT kanpur' 'IIT kharagpur'
 'IIT mandi' 'IIT palakkad' 'IIT ropar' 'IIT tirupati'
 'Jadavpur Univversity' 'KLEF hydrabad' 'MNIT jaipur' 'MNNIT allahabad'
 'MSIT' 'Manipal IT' 'NIT trichy' 'NIT warangal' 'NMIMS'
 'Netaji Subhas IT' 'S O A  university' 'SRMIST chennai'
 'SSN college of ENGG' 'University college of ENGG' 'VIT vellore']

In [ ]:
# replacing college names with unique ids
college = np.unique(df['College'])
college_code_list = []
for i in range(len(college_list)):
  college_code_list.append(i + 1)

df['College'] = df['College'].replace(college_list, college_code_list)
bak_college = np.array(df['College'])
df.head(10)

   Year  10th Marks  12th Marks  12th Division  AIEEE Rank  College
0  2015          95          92              2         100       11
1  2015          75          88              3        1023       38
2  2015          83          84              6        2935        1
3  2015          75          91              8        5647       37
4  2015          94          94              9        3564       35
5  2015          95          94              1        2185       29
6  2015          89          89              1         785       14
7  2015          81          89              1        2231       38
8  2015          84          85              4        3561        1
9  2015          92          85              6        4235       17

In [ ]:
df.loc[df["12th Division"].idxmax()]

Year             2019
10th Marks         78
12th Marks         85
12th Division      11
AIEEE Rank       1730
College            15
Name: 804, dtype: int64

In [ ]:
# pre-processing data
from sklearn.model_selection import train_test_split

x = df.iloc[:, 0:5].values
y = df.iloc[:, 5].values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)
print('Shape of X_train:: ', x_train.shape)
print('Shape of y_train:: ', y_train.shape)
print('Shape of X_test:: ', x_test.shape)
print('Shape of y_test:: ', y_test.shape)

Shape of X_train::  (803, 5)
Shape of y_train::  (803,)
Shape of X_test::  (201, 5)
Shape of y_test::  (201,)

In [ ]:
# building model
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=15, random_state=0)
clf.fit(x_train, y_train)

RandomForestClassifier(max_depth=15, random_state=0)

In [ ]:
np.mean(clf.predict(x_test) == y_test)

0.9154228855721394

In [ ]:
col = df.columns.tolist()[0:5]
print(col)
usrip=[]
for i in col:
  usrip.append((eval(input(i + ": "))))

#userpred = clf.predict([usrip])
#print(userpred)
#print("You may have change to get entrance in: ",college[college_code_list.index(int(userpred[0]))])
userpred = college[college_code_list.index(int(clf.predict([usrip])[0]))]
print(userpred)

['Year', '10th Marks', '12th Marks', '12th Division', 'AIEEE Rank']
Year: 50
10th Marks: 50
12th Marks: 10
12th Division: 10
AIEEE Rank: 1
IIT hydrabad

In [ ]:
import pickle
pickle.dump(clf, open('new_model.pkl', 'wb'))
pickle.dump(usrip, open('usrip.pkl', 'wb'))

In [ ]:
# installing streamlit
!pip install streamlit -q

     |████████████████████████████████| 9.1 MB 4.9 MB/s
     |████████████████████████████████| 232 kB 58.1 MB/s
     |████████████████████████████████| 181 kB 19.7 MB/s
     |████████████████████████████████| 78 kB 6.7 MB/s
     |████████████████████████████████| 111 kB 57.2 MB/s
     |████████████████████████████████| 164 kB 56.8 MB/s
     |████████████████████████████████| 4.3 MB 46.7 MB/s
     |████████████████████████████████| 63 kB 1.4 MB/s
     |████████████████████████████████| 133 kB 57.9 MB/s
     |████████████████████████████████| 132 kB 34.7 MB/s
     |████████████████████████████████| 793 kB 43.3 MB/s
     |████████████████████████████████| 428 kB 58.2 MB/s
     |████████████████████████████████| 381 kB 56.5 MB/s
     |████████████████████████████████| 51 kB 7.4 MB/s
  Building wheel for blinker (setup.py) ... done
  Building wheel for validators (setup.py) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
nbclient 0.6.4 requires traitlets>=5.2.2, but you have traitlets 5.1.1 which is incompatible.
jupyter-console 5.2.0 requires prompt-toolkit<2.0.0,>=1.0.0, but you have prompt-toolkit 3.0.29 which is incompatible.
google-colab 1.0.0 requires ipykernel~=4.10, but you have ipykernel 6.15.0 which is incompatible.
google-colab 1.0.0 requires ipython~=5.5.0, but you have ipython 7.34.0 which is incompatible.
google-colab 1.0.0 requires tornado~=5.1.0; python_version >= "3.0", but you have tornado 6.1 which is incompatible.

In [ ]:
# loading lib for web app
#import streamlit as st
import numpy as np
import string
import pickle

# loading model
model = pickle.load(open('new_model.pkl', 'rb'))

In [ ]:
%%writefile app.py
# loading model
import pickle
model = pickle.load(open('new_model.pkl', 'rb'))
college = pickle.load(open('college.pkl', 'rb'))
import streamlit as st
st.markdown("<h1 style='text-align: center; color: White;background-color:#e84343'>Graduate Admission Predictor</h1>", unsafe_allow_html=True)
st.markdown("<h3 style='text-align: center; color: Black;'>Drop in The required Inputs and we will do  the rest.</h3>", unsafe_allow_html=True)
st.sidebar.header("What is this Project about?")
st.sidebar.text("It a Web app that would help the user in determining whether they will get admission in a Graduate Program or not.")
st.sidebar.header("What tools where used to make this?")
st.sidebar.text("The Model was made using a dataset from Kaggle along with using Kaggle notebooks to train the model. We made use of Sci-Kit learn in order to make our Random Forest Classifier Model.")
year = st.number_input("Input Your Grad Year",min_value=2010, max_value=2022) 
tenth_mark = st.number_input("Input your 10th Score",min_value=0, max_value=100)
twelfth_mark = st.number_input("Input your 12th Score",min_value=0, max_value=100) 
twelfth_div = st.slider("Input your 12th div",1,12) 
aieee_rank = st.number_input("Input your AIEEE rank",min_value=1) 

inputs = [[year, tenth_mark, twelfth_mark, twelfth_div, aieee_rank]] #our inputs

if st.button('Predict'): #making and printing our prediction
  #result = model.predict(inputs)
  pred = model.predict(inputs)[0]
  # result = college_code_list[college_code_list.index(pred)]
  result = college[pred]
  st.success(f'You have good chance to get into {result}')

Writing app.py

In [ ]:
!streamlit run app.py & npx localtunnel --port 8501

2022-06-24 14:58:14.701 INFO    numexpr.utils: NumExpr defaulting to 2 threads.

  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.2:8501
  External URL: http://35.234.15.125:8501

npx: installed 22 in 4.212s
  Stopping...
^C